# Игнорируем временные файлы и кэш
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

# Игнорируем большие/ненужные файлы
/[Mm]emoryCaptures/
/[Rr]ecordings/
sysinfo.txt
*.apk
*.aab
*.unitypackage
crashlytics-build.properties

# НЕ игнорируем .meta-файлы! (очень важно)
# *.meta <-- ЭТУ СТРОКУ НУЖНО УДАЛИТЬ ИЛИ ЗАКОММЕНТИРОВАТЬ

# Автогенерируемые файлы IDE (можно игнорировать)
.vs/
.gradle/
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db